<header></header>
<nav></nav>
<br>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="actividades">
        <div class="row">
            <div id="tableButtons" class="col-sm-3">
                <ul id="nav-tabs-wrapper" class="nav nav-pills nav-stacked well">
                    <li><a [routerLink]="['AdminActivities']"  data-toggle="tab">Añadir actividad</a></li>
                    <li class="active"><a href="#vtab42" data-toggle="tab">Editar/Eliminar actividad</a></li>
                    
                </ul>
            </div>
            
            
            <div class="row">
                <div class="col-sm-9 col-md-6">
                    <h2>Introduce los nuevos datos de la actividad</h2>
                </div>
                <div class="col-sm-9 col-md-6">
                    <form role="form">
                        <div class="form-group">
                            <!--Campo NOMBRE-->
                            <label>  Nombre de la actividad:</label>
                            <input type="text" class="form-control" id="inputNombreP" [(ngModel)]="actividad.nombre"  placeholder="Introduce el nombre del producto">
                            <br>
                            <!--campo DESCRIPCION-->
                            <label>Descripción de la actividad:</label>
                            <textarea type="text" class="form-control" id="inputDescripcionP" [(ngModel)]="actividad.descripcion"  placeholder="Introduce una breve descripción de la actividad"></textarea>
                            <br>
                            <!--campo IMAGEN DE LA ACTIVIDAD->
                            <!--imagen ya guardada en una carpeta-->
                            <label>Imagen de la actividad:</label>
                            <input type="file" id="inputImagen" placeholder="Copia aqui la ruta donde está guardada la nueva imagen">
                            <br>
                        </div>
                    </form>
                    <button type="submit" class="btn btn-primary btn-lg" (click)="edit()">Editar actividad</button>
                    <button type="submit" class="btn btn-primary btn-lg" (click)="remove()">Eliminar actividad</button>
                    <button type="submit" class="btn btn-primary btn-lg" (click)="cancel()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>