<header></header>
<nav></nav>
<br>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="actividades">
        <div class="row">
            <div id="tableButtons" class="col-sm-3">
                <ul id="nav-tabs-wrapper" class="nav nav-pills nav-stacked well">
                    <li class="active"><a href="#vtab41" data-toggle="tab">Añadir actividad</a></li>
                    <li><a href="#vtab42" data-toggle="tab">Editar/Eliminar actividad</a></li>
                </ul>
            </div>
            <div class="col-sm-7">
                <div class="tab-content">
    <!---------------------------------------- AÑADIR ACTIVIDAD NUEVA ------------------------------------------------------------>
                    <div role="tabpanel" class="tab-pane fade in active shopSections" id="vtab41">
                        <div class="row">
                            <div class="col-sm-9 col-md-6">
                                <h2>Introduce los datos de la nueva actividad</h2>
                                
                            </div>
                            <div class="col-sm-9 col-md-6">
                                <form role="form">
                                    <div class="form-group">
                                        <!--Campo NOMBRE-->
                                        <label>  Nombre de la actividad:</label>
                                        <input type="text" class="form-control" id="inputNombre" [(ngModel)]="actividad.nombre"  placeholder="Introduce el nombre de la actividad">
                                        <br>
                                        <!--campo DESCRIPCION-->
                                        <label>Descripción de la actividad:</label>
                                        <textarea type="text" class="form-control" id="inputDescripcion" [(ngModel)]="actividad.descripcion"  placeholder="Introduce una breve descripción de la actividad"></textarea>
                                        <br>
                                        <!--campo IMAGEN DE LA ACTIVIDAD->
                                        <!--imagen ya guardada en una carpeta-->
                                        <label>Imagen de la actividad:</label>
                                        <input type="text" id="inputImagen" [(ngModel)]="actividad.imagen" placeholder="Nombre de la imagen">
                                        <br>
                                    </div>
                                </form>
                                <button type="submit" class="btn btn-primary btn-lg" (click)="addActivity()">Añadir actividad</button>
                            </div>
                        </div>
                    </div>
    <!---------------------------------------- AÑADIR ACTIVIDAD NUEVA ------------------------------------------------------------>
    <!---------------------------------------- EDITAR/ELIMINAR ACTIVIDAD       ------------------------------------------------------------>
                    <div role="tabpanel" class="tab-pane fade in shopSections" id="vtab42">
                        <div class="row">
                            <div class="col-sm-9 col-md-6">
                                <h2>Selecciona la actividad que desea editar/eliminar</h2>
                                <p>Las 4 primeras actividades serán expuestas en la página principal del gimnasio.</p>
                                <ul class="items">
                                    <li *ngFor="#activity of actividades">
                                        <a [routerLink]="['ActivityDetail', {id: activity.id}]">{{activity.nombre}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
    <!---------------------------------------- EDITAR/ELIMINAR ACTIVIDAD       ------------------------------------------------------------>
                </div>
            </div>
        </div>
    </div>
</div>    
