<header></header>
<nav></nav>
<br>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="galeria">
        <div class="row">
            <div id="tableButtons" class="col-sm-3">
                <ul id="nav-tabs-wrapper" class="nav nav-pills nav-stacked well">
                    <li class="active"><a href="#vtab41" data-toggle="tab">Añadir imagenes</a></li>
                    <li><a href="#vtab42" data-toggle="tab">Editar/Eliminar imagenes</a></li>
                </ul>
            </div>
            <div class="col-sm-7">
                <div class="tab-content">
    <!---------------------------------------- AÑADIR IMAGEN NUEVA ------------------------------------------------------------>
                    <div role="tabpanel" class="tab-pane fade in active gallerySections" id="vtab41">
                        <div class="row">
                            <div class="col-sm-9 col-md-12">
                                <h2>Introduce el nombre de la nueva imagen</h2>
                
                            </div>
                            <div class="col-sm-9 col-md-12">
                                <form role="form">
                                    <div class="form-group">
                                        <!--Campo NOMBRE-->
                                        <label>  Nombre de la imagen:</label>
                                        <input type="text" class="form-control" id="inputNombre" [(ngModel)]="image.nombre"  placeholder="Introduce el nombre de la imagen">
                                    </div>
                                </form>
                                <button type="submit" class="btn btn-primary btn-lg" (click)="addImage()">Añadir imagen</button>
                            </div>
                        </div>
                    </div>
    <!---------------------------------------- AÑADIR ACTIVIDAD NUEVA ------------------------------------------------------------>
    <!---------------------------------------- EDITAR/ELIMINAR IMAGEN       ------------------------------------------------------------>
                    <div role="tabpanel" class="tab-pane fade in gallerySections" id="vtab42">
                        <div class="row">
                            <div class="col-sm-9 col-md-6">
                                <h2>Selecciona la imagen que desea editar/eliminar</h2>
                                <!--<p>Las 4 primeras actividades serán expuestas en la página principal del gimnasio.</p>-->
                                <ul class="items">
                                    <li *ngFor="#image of galeria">
                                        <a [routerLink]="['GalleryDetail', {id: image.id}]">{{image.nombre}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
    <!---------------------------------------- EDITAR/ELIMINAR IMAGEN ------------------------------------------------------------>
                </div>
            </div>
        </div>
    </div>
</div> 