<ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="#clasesColectivas" aria-controls="clasesColectivas" role="tab" data-toggle="tab" [routerLink]="['AdminSharedClasses']">Clases colectivas</a></li>
    <li role="presentation"><a href="#articulosTienda" aria-controls="articulosTienda" role="tab" data-toggle="tab" [routerLink]="['AdminShop']">Artículos tienda</a></li>
    <li role="presentation"><a href="#actividades" aria-controls="actividades" role="tab" data-toggle="tab" [routerLink]="['AdminActivities']">Actividades</a></li>
    <li role="presentation"><a href="#instalaciones" aria-controls="instalaciones" role="tab" data-toggle="tab" [routerLink]="['AdminInstallations']">Instalaciones</a></li>
    <li role="presentation"><a href="#tarifas" aria-controls="tarifas" role="tab" data-toggle="tab" [routerLink]="['AdminTarifas']">Tarifas</a></li>
    <li role="presentation"><a href="#galeria" aria-controls="galeria" role="tab" data-toggle="tab" [routerLink]="['AdminGallery']">Galeria</a></li>
</ul>
