<header></header>
<nav></nav>
<br>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="clasesColectivas">
        <div class="row">
            <div id="tableButtons" class="col-sm-3">
                <ul id="nav-tabs-wrapper" class="nav nav-pills nav-stacked well">
                    <li class="active"><a href="#vtab11" data-toggle="tab">Añadir clases</a></li>
                    <li><a href="#vtab12" data-toggle="tab">Modificar clases</a></li>
                    <li><a href="#vtab13" data-toggle="tab">Eliminar clases</a></li>
                </ul>
            </div>
            
            <div class="col-sm-7">
                <div class="tab-content nuevaClase">
<!---------------------------------------- AÑADIR CLASE COLECTIVA NUEVA ------------------------------------------------------------>                               
                    <div role="tabpanel" class="tab-pane fade in active shopSections" id="vtab11">
                        <div class="row">
                            <div class="col-sm-9 col-md-6">
                                <h2>Introduce los datos de la nueva clase colectiva</h2>
                            </div>
                            <div class="col-sm-9 col-md-6">
                                <form role="form">
                                    <div class="form-group">
                                        <!--Campo NOMBRE-->
                                        <label>  Nombre de la clase:</label>
                                        <input type="text" class="form-control" id="inputNombreP"  placeholder="Introduce el nombre de la clase">
                                        <br>        
                                        <!--campo DESCRIPCION-->
                                        <label>  Descripción:</label>
                                        <textarea type="text" class="form-control" id="inputDescripcionP"  placeholder="Introduce una breve descripción de la clase"></textarea>
                                        <br>
                                        <!--campo HORARIO-->
                                        <label for="select"> Horario:</label>
                                        <br>
                                        <select id="diaSemana">
                                            <option>Elige un dia </option>
                                            <option>Lunes</option>
                                            <option>Martes</option>
                                            <option>Miercoles</option>
                                            <option>Jueves</option>
                                            <option>Viernes</option>
                                        </select>
                                        <select id="hora">
                                            <option> Selecciona una hora disponible</option>
                                            <option>16:00-17:00</option>
                                            <option>17:00-18:00</option>
                                            <option>18:00-19:00</option>
                                            <option>19:00-20:00</option>
                                            <option>20:00-21:00<option>
                                        </select>
                                        <br><br>
                                        <!--campo PLAZAS-->
                                        <label>Número de plazas:</label>
                                        <input type="number" class="form-control" id="inputplazas" placeholder="Introduce el número de plazas de la actividad">
                                    </div>
                                </form>
                                <button type="submit" class="btn btn-primary btn-lg">Añadir actividad</button>
                            </div>
                        </div>
                    </div>
<!---------------------------------------- AÑADIR CLASE COLECTIVA NUEVA ------------------------------------------------------------>                
<!---------------------------------------- MODIFICAR CLASE COLECTIVA ------------------------------------------------------------>                
                    <div role="tabpanel" class="tab-pane fade in shopSections" id="vtab12">
                        <div class="row">
                            <div class="col-sm-9 col-md-12">
                                <h2 class="text-center">Selecciona la clase que quieres modificar</h2>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th></th>   
                                                <th>Lunes</th>
                                                <th>Martes</th>
                                                <th>Miercoles</th>
                                                <th>Jueves</th>
                                                <th>Viernes</th>
                                            </tr>    
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>16:00-17:00</td>
                                                <td><a href="#" data-toggle="modal" data-target="#modificarClase">Spinning (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#modificarClase">Boxeo (20/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#modificarClase">TRX (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#modificarClase">Spinning (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#modificarClase">Spinning (0/20)</a></td>
                                            </tr>
                                            <tr>
                                                <td>17:00-18:00</td>
                                                <td><a href="#" data-toggle="modal" data-target="#modificarClase">Boxeo (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#modificarClase">Spinning (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#modificarClase">Boxeo (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#modificarClase">Body Combat (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#modificarClase">Abdominales (0/20)</a></td>
                                            </tr>
                                            <tr>
                                                <td>18:00-19:00</td>
                                                <td><a href="#" data-toggle="modal" data-target="#modificarClase">Abdominales (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#modificarClase">Pilates (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#modificarClase">Spinning (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#modificarClase">Abdominales (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#modificarClase">Boxeo (0/20)</a></td>
                                            </tr>
                                            <tr>
                                                <td>19:00-20:00 </td>
                                                <td><a href="#" data-toggle="modal" data-target="#modificarClase">TRX (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#modificarClase">Body Combat (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#modificarClase">Body Pump (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#modificarClase">TRX (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#modificarClase">Pilates (0/20)</a></td>
                                            </tr>
                                            <tr>
                                                <td>20:00-21:00</td>
                                                <td><a href="#" data-toggle="modal" data-target="#modificarClase">Body Combat (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#modificarClase">Abdominales (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#modificarClase">Pilates (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#modificarClase">Body Pump (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#modificarClase">TRX (0/20)</a></td>
                                            </tr>     
                                        </tbody>
                                    </table>    
                                </div>
                                <!-- Ventana emergente de modificar clase -->
                                <div class="modal fade" id="modificarClase" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Modificar clase</h4>
                                            </div>
                                            <div class="modal-body">  
                                                <div class="form-group">
                                                    <div class="col-md-9">
                                                        <label>Nombre de la clase</label>
                                                        <input type="text" class="form-control" id="inputNombre"  placeholder="Introduce el nombre de la clase">    
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label>Aforo máximo</label>
                                                        <input type="number" class="form-control" id="inputAforo"  placeholder="">                                           
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-9">
                                                        <button type="submit" class="btn btn-default"><a class="contentButton" href="#" data-toggle="modal" data-target="#modificacionConfirmada">Guardar cambios</a></button>
                                                        <button type="submit" class="btn btn-default"><a class="contentButton" href="paginaPrivada.html">Cancelar</a></button>     
                                                    </div>   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>                          
<!---------------------------------------- MODIFICAR CLASE COLECTIVA ------------------------------------------------------------>                
<!---------------------------------------- ELIMINAR CLASE COLECTIVA ------------------------------------------------------------>                
                    <div role="tabpanel" class="tab-pane fade in shopSections" id="vtab13">
                        <div class="row">
                            <div class="col-sm-9 col-md-12">
                                <h2 class="text-center">Selecciona la clase que quieres eliminar</h2>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th></th>   
                                                <th>Lunes</th>
                                                <th>Martes</th>
                                                <th>Miercoles</th>
                                                <th>Jueves</th>
                                                <th>Viernes</th>
                                            </tr>    
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>16:00-17:00</td>
                                                <td><a href="#" data-toggle="modal" data-target="#eliminarClase">Spinning (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#eliminarClase">Boxeo (20/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#eliminarClase">TRX (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#eliminarClase">Spinning (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#eliminarClase">Spinning (0/20)</a></td>
                                            </tr>
                                            <tr>
                                                <td>17:00-18:00</td>
                                                <td><a href="#" data-toggle="modal" data-target="#eliminarClase">Boxeo (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#eliminarClase">Spinning (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#eliminarClase">Boxeo (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#eliminarClase">Body Combat (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#eliminarClase">Abdominales (0/20)</a></td>
                                            </tr>
                                            <tr>
                                                <td>18:00-19:00</td>
                                                <td><a href="#" data-toggle="modal" data-target="#eliminarClase">Abdominales (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#eliminarClase">Pilates (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#eliminarClase">Spinning (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#eliminarClase">Abdominales (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#eliminarClase">Boxeo (0/20)</a></td>
                                            </tr>
                                            <tr>
                                                <td>19:00-20:00 </td>
                                                <td><a href="#" data-toggle="modal" data-target="#eliminarClase">TRX (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#eliminarClase">Body Combat (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#eliminarClase">Body Pump (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#eliminarClase">TRX (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#eliminarClase">Pilates (0/20)</a></td>
                                            </tr>
                                            <tr>
                                                <td>20:00-21:00</td>
                                                <td><a href="#" data-toggle="modal" data-target="#eliminarClase">Body Combat (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#eliminarClase">Abdominales (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#eliminarClase">Pilates (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#eliminarClase">Body Pump (0/20)</a></td>
                                                <td><a href="#" data-toggle="modal" data-target="#eliminarClase">TRX (0/20)</a></td>
                                            </tr>     
                                        </tbody>
                                    </table>    
                                </div>
                                <!-- Ventana emergente de reservar clase -->
                                <div class="modal fade" id="eliminarClase" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Eliminar clase</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Estas eliminando: <span>Nombre clase colectiva</span> a las <span>hora</span></p>   
                                                <p>¿Deseas eliminar esta clase?</p>   
                                                <button type="submit" class="btn btn-default"><a  class="contentButton" href="#" data-toggle="modal" data-target="#eliminacionConfirmada">Eliminar</a></button>
                                                <button type="submit" class="btn btn-default"><a class="contentButton" href="paginaPrivada.html">Cancelar</a></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<!---------------------------------------- ELIMINAR CLASE COLECTIVA ------------------------------------------------------------>                
                </div>
            </div>                                 
        </div>
    </div>
</div>    
                        