/*cabecera*/
#header{
    height: 150px;
    background-color: burlywood;
}

@media (max-width: 458px){
    #header{
        height: 280px;
    }
}

#logoTitle{
    float: left;
    position: relative;
    top: 25px;
}

#img-logo{
    position: relative;
    float:left;
    height: 100px;
    top: 5px;
    left: 20px;
}

#title{
    position: relative;
    top: 65px;
    float: left;
}

#title > span{
    font-size: 2.8em;
    font-family: sans-serif;
}

#cerrarSesion{
    position: relative;
    float: right;
    top: 60px;
}
/*fin cabecera*/

/*navegación*/
#restPage{
    padding-right: 0px;
    padding-left: 0px;
}

.nav-tabs { 
    border-bottom: 2px solid #DDD; 
}
    
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { 
    border-width: 0; 
}

.nav-tabs > li > a { 
    border: none; 
    color: #666; 
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover { 
    border: none; 
    color: #4285F4 !important; 
    background: transparent; 
}

.nav-tabs > li > a::after { 
    content: ""; 
    background: #4285F4; 
    height: 2px; 
    position: absolute; 
    width: 100%; 
    left: 0px; 
    bottom: -1px; 
    transition: all 250ms ease 0s; 
    transform: scale(0); 
}
    
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { 
    transform: scale(1); 
}

.tab-nav > li > a::after { 
    background: #21527d none repeat scroll 0% 0%; 
    color: #fff; 
}

.tab-pane { 
    padding: 15px 0; 
}

.tab-content{
    padding:20px
}

.card {
    background: #FFF none repeat scroll 0% 0%; 
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);  
}

/*clases colectivas*/
.table{
    text-align: center;
}

.table-bordered > thead > tr{
    border: 2px solid #000000;
}

.table-bordered > thead > tr > th{
    border: 2px solid #000000;
}

.table-bordered > tbody > tr{
    border: 2px solid #000000;
}

.table-bordered > tbody > tr > td{
    border: 2px solid #000000;
}

.table > thead > tr > th{
    background-color: #ffffaf;
    text-align: center;
}

tbody > tr > td:first-child{
    font-weight: bold;
}

tbody > tr:nth-child(odd){
    background-color: #ffca3b;    
}

tbody > tr:nth-child(even){
    background-color: #d08c30;    
}

tbody > tr > td > a{
    color: #000000;
    font-family: sans-serif;
    font-size: 1em;
}

tbody > tr > td > a:hover{
    color: #001089;
    text-decoration: none;
}

tbody > tr > td > a:focus{
    text-decoration: none;
}
/*fin navegacion*/