<section id="activities">   
    <div class="container">
        <div class="page-header">
            <h1>Actividades</h1>
        </div>
        
        <div class="row">
            <div class="col-md-6">    
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#4F96FF"><h2><span class="badge">NEW</span> FITNESS</h2></div>
                    <div class="panel-body">
                        <p>Todo tu entrenamiento será guiado por nuestro equipo de profesionales, con los que podrás compartir y solventar todo tipo de dudas y errores para optimizar tu forma física.</p>
                        <img src="app/img/fitness.jpg" class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="col-md-6">    
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#FF9B28"><h2><span class="badge">NEW</span> PILATES</h2></div>
                    <div class="panel-body">
                        <p>Espalda Sana, Técnicas de Relajación y Respiración, Stretching, Talleres de trabajo emocional... UGym te ofrece todo un abanico de eventos para que puedas aprender y disfrutar de una vida sana y equilibrada.</p>
                        <img src="app/img/pilates.jpg" class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="col-md-6">    
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#FF4042"><h2><span class="badge">NEW</span> SPINNING</h2></div>
                    <div class="panel-body">
                        <p>Forma parte del pelotón ciclista liderado por nuestros mejores profesionales. Recorreras un sin fín de emociones con la mejor música y las más originales clases temáticas.</p>
                        <img src="app/img/spinning.jpg" class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="col-md-6">    
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#1BCC5F"><h2><span class="badge">NEW</span> ZUMBA</h2></div>
                    <div class="panel-body">
                        <p>Un entrenamiento completo que combina todos los elementos del acondicionamiento físico: trabajo cardiovascular y muscular, equilibrio y flexibilidad, aumento de energía y muchísimos beneficios increíbles que disfrutarás después de cada clase.</p>
                        <img src="app/img/zumba.jpg" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron">
            <p> En esta sección encontrarás las nuevas actividades añadidas a nuestra carta de actividades.</p>
            <p><span class="glyphicon glyphicon-exclamation-sign"></span> Para conocer todo nuestro repertorio de actividades debes ser socio de UGym.</p>
            <p>¡ No pierdas detalle porque cada poco tiempo actualizamos nuestra carta !</p>
            <p>Próximamente: Telas aéreas, aquaGym y muchas novedades más.</p>
        </div>
    </div>
    <br>
    <br>
    <br>
</section>