<section id="activities">   
    <div class="container">
        <div class="page-header">
            <h1>Actividades</h1>
        </div>
        
        <div class="row">
            <div class="col-md-6">    
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#4F96FF"><h2><span class="badge">NEW </span> {{actividad1.nombre}}</h2></div>
                    <div class="panel-body">
                        <p>{{actividad1.descripcion}}</p>
                        <img class="img-responsive" src="app/img/{{actividad1.imagen}}">
                    </div>
                </div>
            </div>
            <div class="col-md-6" >    
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#FF9B28"><h2><span class="badge">NEW </span> {{actividad2.nombre}}</h2></div>
                    <div class="panel-body">
                        <p>{{actividad2.descripcion}}</p>
                        <img   class="img-responsive" src="app/img/{{actividad2.imagen}}">
                    </div>
                </div>
            </div>
            <div class="col-md-6">    
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#FF4042"><h2><span class="badge">NEW</span> {{actividad3.nombre}}</h2></div>
                    <div class="panel-body">
                        <p>{{actividad3.descripcion}}</p>
                        <img  class="img-responsive" src="app/img/{{actividad3.imagen}}">
                    </div>
                </div>
            </div>
            <div class="col-md-6">    
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:#1BCC5F"><h2><span class="badge">NEW</span> {{actividad4.nombre}}</h2></div>
                    <div class="panel-body">
                        <p>{{actividad4.descripcion}}</p>
                        <img  class="img-responsive" src="app/img/{{actividad4.imagen}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron">
            <p> En esta sección encontrarás las nuevas actividades añadidas a nuestra carta de actividades.</p>
            <p><span class="glyphicon glyphicon-exclamation-sign"></span> Para conocer todo nuestro repertorio de actividades debes ser socio de UGym.</p>
            <p>¡ No pierdas detalle porque cada poco tiempo actualizamos nuestra carta !</p>
        </div>
    </div>
    <br>
    <br>
    <br>
</section>