<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" id="contacto">
                <h5>CONTACTO</h5>
                <span class="glyphicon glyphicon-ok-circle"></span> Email: UGym@gmail.com<br>
                <span class="glyphicon glyphicon-ok-circle"></span> Telefono: 916 65 50 60<br>
                <span class="glyphicon glyphicon-ok-circle"></span> Dirección: Calle Tulipán, s/n, 28933 Móstoles, Madrid    
            </div>
            <div class="col-md-4 btn-group" id="redes-sociales">
                <a  class="btn" href="https://twitter.com/?lang=es"><img class="img-responsive" src="app/img/twitter.ico" width="50px" height="50px"></a>
                <a  class="btn" href="https://www.facebook.com/"><img src="app/img/facebook.ico" width="50px" height="50px"></a>
                <a  class="btn" href="https://plus.google.com/collections/featured"><img src="app/img/google+.ico" width="50px" height="50px"></a>
                <a  class="btn" href="https://www.instagram.com/"><img src="app/img/instagram.ico" width="50px" height="50px"></a>
                <a  class="btn" href="https://www.youtube.com/"><img src="app/img/youtube.ico" width="50px" height="50px"></a>
            </div>
            <div class="col-md-4" id="trabajo" align="center">
                <h5>TRABAJO</h5>
                <a href="solicitudTrabajo.html"><span class="glyphicon glyphicon-ok-circle"></span> Trabaja aquí</a><br>
                <a href="solicitudFranquicia.html"><span class="glyphicon glyphicon-ok-circle"></span> Franquicias</a>    
            </div>    
        </div>   
        <div class="row">
            <div class="col-md-12" align="center">
                <h6><span class="glyphicon glyphicon-copyright-mark"></span> DESIGNED BY UGym Enterprise</h6>
            </div>
        </div>
    </div>    
</footer>