

<section id="instalaciones">
    <br>
    <div class="container">
        <div class="page-header">
            <h1>Instalaciones</h1>
        </div>    
    </div>
    <div class="container">
            
        <nav class="navbar-inverse">
            <ul class="nav navbar-nav" id="menu-instalaciones">
                <li class="active" ><a data-toggle="tab" href="#sala_maquinas">Sala de máquinas</a></li>
                <li><a data-toggle="tab" href="#piscina">Piscina</a></li>
                <li><a data-toggle="tab" href="#sauna">Sauna</a></li>
            </ul>        
        </nav>
    </div>
    <div class="container">
        <div class="tab-content" >
            <div  id="sala_maquinas" class="tab-pane fade in active contenido-instalaciones">
                <div class="container">
                    <div class="row">    
                        <div class="col-md-6">    
                            <br><h3>Sala de máquinas</h3><br>
                            <p> Más de 150 m2  de zona de entrenamiento, pensada para que puedas entrenar con libertad y con todo tipo de equipamiento. Máquinas con carga de discos, poleas, barras, un gran número de mancuernas y bancos para que no esperes. Muchos deportistas se deciden por nuestras instalaciones por la cantidad y variedad de equipamiento que hay a disposición.</p>
                            <p> Dispondrás de una zona de entrenamiento cardiovascular con equipamiento de última generación. Más de 70 equipos de cardio: cintas de correr, elípticas, steps, remos, bicicletas de diferentes tipos, incluso para personas que padezcan lesiones de espalda o tren inferior. Además tendrás la posibilidad de ver tu programa favorito de TV mientras entrenas, escuchar tu música conectando tu ipod a las máquinas, etc., conocerás una manera más amena y divertida de entrenar.
                            </p>
                            <br>
                        </div>
                        <div class="col-md-6">
                            <br>    
                            <div align="center"><img src="app/img/sala_maquinas.jpg" class="img-responsive"></div>
                            <br>
                        </div> 
                    </div>          
                </div>
            </div>    
            <div id="piscina" class="tab-pane fade contenido-instalaciones">
                <div class="container">
                    <div class="row">   
                        <div class="col-md-6">
                            <br><h3>Piscina</h3><br>
                            <p> En nuestra piscina de agua salada podrás practicar la natación por libre o bien asistir a uno de los cursos de natación de nuestra amplia oferta.</p>
                            <p> Disponemos de cursos tanto de iniciación como de perfeccionamiento o entrenamiento, para bebes, niños y adultos. También ofrecemos cursos para embarazadas y cursos de matronatación, que favorecen el equilibrio, la coordinación, el desarrollo psicomotor, la creatividad y la fuerza muscular del bebe, además de reforzar el vínculo entre los padres y el bebé.</p>
                            <br>
                        </div>
                        <div class="col-md-6">
                            <br>
                            <div align="center"><img src="app/img/piscina.jpg" class="img-responsive"></div>
                            <br>
                        </div>
                    </div>
                </div>        
            </div>
            <div id="sauna" class="tab-pane fade contenido-instalaciones">
                <div class="container">
                    <div class="row">   
                        <div class="col-md-6">   
                            <br><h3>Sauna</h3><br>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <br>
                        </div>
                        <div class="col-md-6">
                            <br>
                            <div align="center"><img src="app/img/sauna.jpg" class="img-responsive"></div>
                            <br>
                        </div>
                    </div>
                </div>        
            </div>    
        </div>
    </div>
    <br>
</section>

