<div id="tableButtons" class="col-sm-3">
    <ul id="nav-tabs-wrapper" class="nav nav-pills nav-stacked well">
      <li *ngFor="#categoria of categoriasCom">
        <a href="#vtab{{categoria.id}}" data-toggle="tab">{{categoria.nameC}}</a>
      </li>
    </ul>
</div>
<div class="col-sm-7">
    <div class="tab-content">
        <div *ngFor="#categoria of categoriasCom" role="tabpanel" class="tab-pane fade in {{firstGroup(categoria)}} shopSections" id="vtab{{categoria.id}}">
            <p>{{categoria.descriptionC}}</p>
            <div class="container-fluid listItems">
                <div *ngFor="#producto of categoria.products" class="row item">
                    <div class="col-md-3 pictureItem">
                       <img class="img-responsive img-circle" src="app/img/{{producto.image}}">
                    </div>
                    <div class="col-md-6 textItem">
                        <div class="col-md-12">{{producto.name}}</div>
                        <p>{{producto.description}}</p>
                    </div>
                    <div class="col-md-3 othersItem">
                        <div class="col-md-12 priceItem"><span>Precio: {{producto.price}}</span></div>
                        <div class="col-md-12 addItem"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-shopping-cart"></span> Añadir al carrito</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
