<section id="tarifas">
    <div class="container">
        <div class="page-header">
            <h1>Tarifas</h1>
        </div>    
        <div class="row">
            <div class="col-md-4">
                <div class="jumbotron jumbotron-tarifas">
                    <h3 style="background-color:#FF9B28"><b>MENSUAL</b></h3>
                    <h1 style="color:gray">20€</h1>
                    <hr>
                    <p>Prueba un mes sin compromiso. Este es el empunjoncito que necesitas para volver al camino de la vida sana y abandonar el sedentarismo. En UGym encontrarás todo lo necesario para sentirte bien y superarte.</p><br><br><br>
                    <hr>
                    <a class="btn" href="#mensual" data-toggle="collapse"><span class="glyphicon glyphicon-plus-sign"> info</span></a>
                    <div id="mensual" class="collapse tarifa">
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> El mejor precio</p>
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> Una amplísima gama de actividades colectivas adaptadas a tus necesidades</p>
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> Dispón de material de última tecnología apto para todas las edades</p>
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> Utiliza nuestras instalaciones sin límites de actividades ni de horarios</p>
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> Monitores profesionales siempre a tu disposición en todas nuestras salas</p>
                        <hr>
                        <h6>Disfruta de nuestras instalaciones <br> L-V de 07:00 a 23:00 <br> S-D 10:00 a 20:00</h6>
                    </div>
                </div>        
            </div>
            <div class="col-md-4">
                <div class="jumbotron jumbotron-tarifas">
                    <h3 style="background-color:#FF9B28"><b>TRIMESTRAL</b></h3>
                    <h1 style="color:gray">50€</h1>    
                    <hr>
                    <p>Si ya has dado el primer paso y buscas un sitio donde entrenar duro apuesta por este centro deportivo. Cuenta con un equipamiento moderno, buenos profesionales y un montón de clases virtuales para que tonifiques tu cuerpo.</p><br><br>
                    <hr>
                    <a class="btn" href="#trimestral" data-toggle="collapse"><span class="glyphicon glyphicon-plus-sign"> info</span></a>
                    <div id="trimestral" class="collapse tarifa">
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> Ahorra un 10%</p>
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> Una amplísima gama de actividades colectivas adaptadas a tus necesidades</p>
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> Dispón de material de última tecnología apto para todas las edades</p>
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> Utiliza nuestras instalaciones sin límites de actividades ni de horarios</p>
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> Monitores profesionales siempre a tu disposición en todas nuestras salas</p>
                        <hr>
                        <h6>Disfruta de nuestras instalaciones <br> L-V de 07:00 a 23:00 <br> S-D 10:00 a 20:00</h6>
                    </div>
                </div>        
            </div>
            <div class="col-md-4">
                <div class="jumbotron jumbotron-tarifas">
                    <h3 style="background-color:#FF9B28"><b>ANUAL</b></h3>
                    <h1 style="color:gray">180€</h1>    
                    <hr>
                    <p>¡Paga una vez y olvídate de las cuotas! <br>
                    Si estás llevando a cabo una rutina estricta, lo mejor será que busques un gimnasio a la altura de tus necesidades. En UGym no sólo encontrarás un lugar en el que entrenar sin pausas ni prisas, sino que te rodearás de buenos profesionales que te ayudarán a alcanzar tus objetivos más inmediatos.</p>
                    <hr>
                    <a class="btn" href="#anual" data-toggle="collapse"><span class="glyphicon glyphicon-plus-sign"> info</span></a>
                    <div id="anual" class="collapse tarifa">
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> Ahorra un 16%</p>
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> Una amplísima gama de actividades colectivas adaptadas a tus necesidades</p>
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> Dispón de material de última tecnología apto para todas las edades</p>
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> Utiliza nuestras instalaciones sin límites de actividades ni de horarios</p>
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> Monitores profesionales siempre a tu disposición en todas nuestras salas</p>
                        <hr>
                        <h6>Disfruta de nuestras instalaciones <br> L-V de 07:00 a 23:00 <br> S-D 10:00 a 20:00</h6>
                    </div>
                </div>        
            </div>    
        </div>
    </div>
</section>