<section id="tarifas">
    <div class="container">
        <div class="page-header">
            <h1>Tarifas</h1>
        </div>    
        <div class="row">
            <div class="col-md-4">
                <div class="jumbotron jumbotron-tarifas">
                    <h3 style="background-color:#FF9B28"><b>{{tarifa1.tipo}}</b></h3>
                    <h1 style="color:gray">{{tarifa1.precio}}€</h1>
                    <hr>
                    <p>{{tarifa1.descripcion}}</p><br><br><br>
                    <hr>
                    <a class="btn" href="#mensual" data-toggle="collapse"><span class="glyphicon glyphicon-plus-sign"> info</span></a>
                    <div id="mensual" class="collapse tarifa">
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> El mejor precio</p>
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> Una amplísima gama de actividades colectivas adaptadas a tus necesidades</p>
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> Dispón de material de última tecnología apto para todas las edades</p>
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> Utiliza nuestras instalaciones sin límites de actividades ni de horarios</p>
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> Monitores profesionales siempre a tu disposición en todas nuestras salas</p>
                        <hr>
                        <h6>Disfruta de nuestras instalaciones <br> L-V de 07:00 a 23:00 <br> S-D 10:00 a 20:00</h6>
                    </div>
                </div>        
            </div>
            <div class="col-md-4">
                <div class="jumbotron jumbotron-tarifas">
                    <h3 style="background-color:#FF9B28"><b>{{tarifa2.tipo}}</b></h3>
                    <h1 style="color:gray">{{tarifa2.precio}}€</h1>    
                    <hr>
                    <p>{{tarifa2.descripcion}}</p><br><br>
                    <hr>
                    <a class="btn" href="#trimestral" data-toggle="collapse"><span class="glyphicon glyphicon-plus-sign"> info</span></a>
                    <div id="trimestral" class="collapse tarifa">
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> Ahorra un 10%</p>
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> Una amplísima gama de actividades colectivas adaptadas a tus necesidades</p>
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> Dispón de material de última tecnología apto para todas las edades</p>
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> Utiliza nuestras instalaciones sin límites de actividades ni de horarios</p>
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> Monitores profesionales siempre a tu disposición en todas nuestras salas</p>
                        <hr>
                        <h6>Disfruta de nuestras instalaciones <br> L-V de 07:00 a 23:00 <br> S-D 10:00 a 20:00</h6>
                    </div>
                </div>        
            </div>
            <div class="col-md-4">
                <div class="jumbotron jumbotron-tarifas">
                    <h3 style="background-color:#FF9B28"><b>{{tarifa3.tipo}}</b></h3>
                    <h1 style="color:gray">{{tarifa3.precio}}€</h1>    
                    <hr>
                    <p>{{tarifa3.descripcion}}</p>
                    <hr>
                    <a class="btn" href="#anual" data-toggle="collapse"><span class="glyphicon glyphicon-plus-sign"> info</span></a>
                    <div id="anual" class="collapse tarifa">
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> Ahorra un 16%</p>
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> Una amplísima gama de actividades colectivas adaptadas a tus necesidades</p>
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> Dispón de material de última tecnología apto para todas las edades</p>
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> Utiliza nuestras instalaciones sin límites de actividades ni de horarios</p>
                        <p><span class="glyphicon glyphicon-star" style="color:#FF9B28"></span> Monitores profesionales siempre a tu disposición en todas nuestras salas</p>
                        <hr>
                        <h6>Disfruta de nuestras instalaciones <br> L-V de 07:00 a 23:00 <br> S-D 10:00 a 20:00</h6>
                    </div>
                </div>        
            </div>    
        </div>
    </div>
</section>