<!--Campo NOMBRE-->
<label>  Nombre del producto:</label>
<input type="text" class="form-control" id="inputNombreP"  placeholder="Introduce el nuevo nombre del producto">

<br>

<!--campo TIPO DEL PRODUCTO-->
<label for="select"> Tipo del producto:</label>
<select id="tipoProducto" class="form-control">
        <option> </option>
        <option>Producto</option>
        <option>Entrenamiento</option>
        <option>Dieta</option>
    </select>

<br>

<!--campo DESCRIPCION-->
<label>  Descripción del producto:</label>
<input type="text" class="form-control" id="inputDescripcionP"  placeholder="Introduce una nueva y breve descripción del producto">

<br>

<!--campo PRECIO-->
<label>  Precio del producto:</label>
<input type="number" class="form-control" id="inputPrecioP" placeholder="Introduce el nuevo precio del producto">

<br>

<!--campo IMAGEN DEL PRODUCTO-->
<!--imagen ya guardada en una carpeta-->
<label>Imagen del producto:</label>
<input type="file" id="inputImagen" placeholder="Copia aqui la ruta donde está guardada la nueva imagen">
