<div id="mainHeader" class="container-fluid">
    <div id="header" class="row">
        <div id="logoTitle" class="col-md-2">
            <img id="img-logo" class="img-responsive" src="app/img/logo.png">    
        </div>
        <div id="title" class="col-md-3">
            <span>Área Privada</span>
        </div>
        <div id="cerrarSesion" class="col-md-2">
            <a [routerLink]="['Index']"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-off"></span> Cerrar Sesión</button></a>
        </div>
    </div>
</div>