<header></header>
<nav></nav>
<br>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="clasesColectivas">
        <div class="row">
            <div id="tableButtons" class="col-sm-3">
                <ul id="nav-tabs-wrapper" class="nav nav-pills nav-stacked well">
                    <li class="active"><a href="#vtab11" data-toggle="tab">Añadir clases</a></li>
                    <li><a href="#vtab12" data-toggle="tab">Modificar/Eliminar clases</a></li>
                   
                </ul>
            </div>

            <div class="col-sm-7">
                <div class="tab-content nuevaClase">
<!---------------------------------------- AÑADIR CLASE COLECTIVA NUEVA ------------------------------------------------------------>
                    <div role="tabpanel" class="tab-pane fade in active shopSections" id="vtab11">
                        <div class="row">
                            <div class="col-sm-9 col-md-6">
                                <h2>Introduce los datos de la nueva clase colectiva</h2>
                            </div>
                            <div class="col-sm-9 col-md-6">
                                <form role="form">
                                    <div class="form-group">
                                        <!--Campo NOMBRE-->
                                        <label>  Nombre de la clase:</label>
                                        <input type="text" class="form-control" id="inputNombreP" [(ngModel)]="clase.nombre" placeholder="Introduce el nombre de la clase">
                                        <br>
                                        <!--campo DESCRIPCION
                                        <label>  Descripción:</label>
                                        <textarea type="text" class="form-control" id="inputDescripcionP" [(ngModel)]="clase.descripcion" placeholder="Introduce una breve descripción de la clase"></textarea>
                                        <br>-->
                                        <!--campo HORARIO-->
                                        <label for="select"> Horario:</label>
                                        <br>
                                        <select id="diaSemana">
                                            <option>Elige un dia </option>
                                            <option>Lunes</option>
                                            <option>Martes</option>
                                            <option>Miercoles</option>
                                            <option>Jueves</option>
                                            <option>Viernes</option>
                                        </select>
                                        <select id="hora">
                                            <option> Selecciona una hora disponible</option>
                                            <option>16:00-17:00</option>
                                            <option>17:00-18:00</option>
                                            <option>18:00-19:00</option>
                                            <option>19:00-20:00</option>
                                            <option>20:00-21:00<option>
                                        </select>
                                        <br><br>
                                        <!--campo PLAZAS-->
                                        <label>Número de plazas:</label>
                                        <input type="number" class="form-control" id="inputplazas" [(ngModel)]="clase.numeroPlazas" placeholder="Introduce el número de plazas de la actividad">
                                    </div>
                                </form>
                                <button type="submit" class="btn btn-primary btn-lg" (click)="addClase()">Añadir clase colectiva</button>
                            </div>
                        </div>
                    </div>
<!---------------------------------------- AÑADIR CLASE COLECTIVA NUEVA ------------------------------------------------------------>
                  <div role="tabpanel" class="tab-pane fade in shopSections" id="vtab12">
                      <div class="row">
                          <div class="col-sm-9 col-md-6">
                              <h2>Selecciona la clase colectiva que desea editar/eliminar</h2>
                              <ul class="items">
                                  <li *ngFor="#shared of colectivas">
                                      <a [routerLink]="['SharedClassesDetail', {id: shared.id}]">{{shared.nombre}}</a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
